<div class="ajustForm">
    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="card card-login card-hidden">
                <div class="card-header card-header-rose text-center">
                    <img class="img-login" src="https://agilesoft.com.co/img/logoAG.png" alt="softsaenz">
                </div>
                <div class="card-body ">

                    <div class="input-group mb-3">

                        <input type="text" formControlName="username" class="form-control" placeholder="Usuario">
                        <span class="p-error" *ngIf="!form.controls['username'].valid && form.controls['username']?.touched">
                                    {{textAlert.email}}
                                </span>
                    </div>


                    <div class="input-group mb-3">

                        <input type="password" formControlName="password" class="form-control for mb-3" id="exampleInputEmail6" placeholder="Contraseña">
                        <span class="p-error" *ngIf="!form.controls['password'].valid && form.controls['password']?.touched">
                                    {{textAlert.passwordClient}}
                                </span>
                    </div>
                </div>
                <div class="card-footer justify-content-center">
                    <button href="#pablo" class="btn btn-rose btn-link btn-lg" [disabled]="form.invalid">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</div>