.ajust-text {
    margin-top: 30px;
    margin-bottom: 10px;
}

.img.card-img-top {
    width: 100%;
}

.ajust-text-content {
    margin-top: 20px;
    .card-img-top-ajust {
        width: 200px;
        float: left;
        margin: 0 15px 0 0;
    }
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 19px;
}